[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bibliometrix"]
	path = bibliometrix
	url = https://github.com/massimoaria/bibliometrix
[submodule "bibliometrixData"]
	path = bibliometrixData
	url = https://github.com/massimoaria/bibliometrixdata
[submodule "contentanalysis"]
	path = contentanalysis
	url = https://github.com/massimoaria/contentanalysis
[submodule "dimensionsR"]
	path = dimensionsR
	url = https://github.com/massimoaria/dimensionsr
[submodule "e2tree"]
	path = e2tree
	url = https://github.com/massimoaria/e2tree
[submodule "pubmedR"]
	path = pubmedR
	url = https://github.com/massimoaria/pubmedr
[submodule "tall"]
	path = tall
	url = https://github.com/massimoaria/tall
