[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bibliometrix"]
	path = bibliometrix
	url = https://github.com/massimoaria/bibliometrix
[submodule "dimensionsR"]
	path = dimensionsR
	url = https://github.com/massimoaria/dimensionsr
[submodule "pubmedR"]
	path = pubmedR
	url = https://github.com/massimoaria/pubmedr
[submodule "tall"]
	path = tall
	url = https://github.com/massimoaria/tall
