[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bibliometrix"]
	path = bibliometrix
	url = https://github.com/massimoaria/bibliometrix
	shallow = true
	registered = true
[submodule "dimensionsR"]
	path = dimensionsR
	url = https://github.com/massimoaria/dimensionsr
	shallow = true
	registered = true
[submodule "pubmedR"]
	path = pubmedR
	url = https://github.com/massimoaria/pubmedr
	shallow = true
	registered = true
